* {
  padding: 0px;
  margin: 0px;
}
/* NAV */
ul {
  list-style: none;
  width: 250px;
}
li:focus {
  color: rgba(255, 254, 254, 1);
  cursor: pointer;
  border-left: rgb(7, 41, 100) 2px solid;
  transition: 0.3s;
}
li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-left: rgb(3, 42, 109) 2px solid;
}
li {
  color: rgba(0, 0, 0, 0.6);
}
.navbg {
  background-color: rgb(222, 191, 153);
}
.navtop {
  color: rgba(255, 254, 254, 0.6);
  background-color: #a3793f;
}
.navtop:hover {
  color: rgb(255, 254, 254);
  color: rgba(255, 254, 254, 1);
  cursor: pointer;
  transition: 0.3s;
}
.linkText {
  text-decoration: none;

  color: #000;
}
.linkText:hover {
  color: #000;
}
input {
  border: none;
  appearance: none;
}
input:focus {
  outline: none;
}
#imgBox {
  border: solid 1px rgb(116, 116, 116);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
.imgLabel {
  width: 150px;
  height: 150px;
  cursor: pointer;
  color: rgb(174, 172, 172);
  border-radius: 5px;
}
.imgStyle {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}
.forumImgStyle {
  width: 400px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}
.textSpan::after {
  content: "⨯";
  margin-left: 4px;
  cursor: pointer;
}
.textSpan1::after {
  content: "⨯";
  margin-left: 4px;
  cursor: pointer;
}
.accordion-header button::before {
  content: "+";
  font-size: 10px;
  color: rgb(105, 105, 105);
  margin: 5px;
}
/* 規格區 */
.formatBox {
  border: 1px solid black;
  display: inline-block;
  padding: 2px;
  font-size: 10px;
  margin: 3px;
  border-radius: 5px;
}
.formatBox:hover {
  background-color: lightgray;
  cursor: pointer;
}
.formatBox:focus {
  background-color: rgb(212, 206, 206);
}
.accordion-body span {
  font-size: 16px;
}
body::-webkit-scrollbar {
  display: none;
}
.edit:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px #e7e5e5;
}
/* 商品區 */
.commodity {
  background-color: #fffefe;
  border-radius: 10px;
}
.searchInput {
  border-bottom: #000 1px solid;
}
/* 後台首頁 */
.item {
  background-color: white;
  border-radius: 5px;
}
select {
  padding: 5px;
  border-radius: 5px;
}
