* {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
}
.clo {
  background-color: rgb(3, 64, 98);
  height: 100vh;
}
.main {
  background-color: rgb(3, 64, 98);
  height: 50vh;
}
.link {
  text-decoration: none;
  color: lightgrey;
}
.link:hover {
  color: rgb(156, 152, 152);
}
.m-auto input {
  padding: 5px 0px;
}

.login-form .login-info {
  position: relative;
}
.login-form .login-info input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: 1px solid #000;
  outline: none;
  background: transparent;
}
